/* Search bar and up */
h6, .search  {
    text-align: center;
    margin: 0px;

}

.header-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto
}

.push-right {
    margin-left: auto;
}

/* Directory */
.flex-container {
    display: flex;
    flex-direction:row-reverse;
    gap: 8px;
    justify-content: space-evenly;
    background-color:gold;
    flex: 1 100%;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* making attributes more discrete */
a {
    text-decoration: none;
    color: black;
}

/* highlight attributes on hovering */
a:hover {
    color:aquamarine;
}





/* 

.flex-container h2 {
    border: 100px black;
    background: peachpuff;
    flex: 1 1 auto;
    padding: 10px;
}

body {
    text-align: center;
    background-color: white;
    margin: 20px;
}



ul {
    text-align: left;
}

.header {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    padding: 12px;
    font-size: 50px;
    font-weight: 700px;
    align-items: baseline;
    margin: 0;
    flex-wrap:wrap;
    align-content: space-evenly;
}

.header h3 {
    text-align: left;
}

.logo {
   text-align: right;
   background-color: black;
   color: white;
   font-family: Georgia;
   font-size: 50px;
   font-weight: 700px;
   margin-left: 20px;
}

.push-right {
    margin-left: auto;
    margin-top: 0;
    background-color: pink;
    
} */