.flex-container {
    display: flex;
    flex-direction:row-reverse;
    gap: 8px;
    justify-content: space-evenly;
}

.flex-container h2 {
    border: 100px black;
    background: peachpuff;
    flex: 1 1 auto;
    padding: 10px;
}

body {
    text-align: center;
    background-color: white;
    margin: 20px;
}

a {
    color: hotpink;
}

ul {
    text-align: left;
}

.header {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    padding: 12px;
    font-size: 50px;
    font-weight: 700px;
    align-items: baseline;
    margin: 0;
    flex-wrap:wrap;
    align-content: space-evenly;
}

.header h3 {
    text-align: left;
}

.logo {
   text-align: right;
   background-color: black;
   color: white;
   font-family: Georgia;
   font-size: 50px;
   font-weight: 700px;
   margin-left: 20px;
}

.push-right {
    margin-left: auto;
    margin-top: 0;
    background-color: pink;
    
}